/* .poster {
  width: 30%;
  display: contents;
  border: 1px solid yellowgreen
} */

.postercard {
  border: 1px solid yellowgreen;
  margin: 10px;
  padding: 10px 20px 20px 20px;
  word-wrap: break-word;
  max-height: 150px;
  min-height: 150px;
  width: 30%;
}

.postertext {
  font-weight: 300;
  line-height: 1em;
  margin: 0px;
}

.postertitle {
  font-size: 0.8em;
  line-height: 2em;
  margin: 5px;
}

.postersubtitle {
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: 300;
  line-height: 1em;
  margin: 0px;
}